__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
.cache
.vscode/
*.key
*.pem
*.log
*.bak
venv/
venv/
fotogal/oci_config/oci.conf
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.*
.terraformrc
terraform.rc
